@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes fly-rtl {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-200vw);
    }
}

html {
    --accent-1: rgb(0, 137, 234);
    --accent-2: rgb(255, 0, 255);
    --title-font: "Comic Sans MS", "Comic Sans", "Chalkboard SE", Chalkboard, Chilanka, Arial, sans-serif;
    --content-font: Arial, sans-serif;
    background-image: url("assets/Background-Space-2.jpg");
    background-repeat: repeat;
    background-color: #010847;
}

body {
    background-color: transparent;
}

.accent-1 {
    color: var(--accent-1);
}

.accent-2 {
    color: var(--accent-2);
}

.title,
.title-text,
.card-title {
    font-family: var(--title-font);
    font-weight: bold;
}

.title-text {
    font-size: 48px;
}

.navbar-nav li {
    margin-left: 8px;
}

.title-container {
    background-color: transparent;
}

.title-text-container {
    padding: 150px 0 250px;
}

.title-text>h1 {
    font-family: var(--content-font);
}

.header-comets {
    overflow: hidden;
    position: absolute;
    height: 100%;
    left: 0;
    width: 100%;
}

.header-comets>img {
    animation-name: fly-rtl;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
}

.header-comets>img:nth-child(1) {
    animation-duration: 4s;
    left: 10vw;
    top: 0;
}

.header-comets>img:nth-child(2) {
    animation-duration: 12s;
    left: 90vw;
    top: 100px;
}

.header-comets>img:nth-child(3) {
    animation-duration: 5s;
    left: 76vw;
    top: 350px;
}

.header-comets>img:nth-child(4) {
    animation-duration: 9s;
    left: 30vw;
    top: 450px;
}

.rocket-ship {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.rocket-text {
    display: none;
}

.rocket-text>span {
    position: absolute;
    color: white;
    font-size: 20px;
}

.rocket-text>span:nth-child(1) {
    left: -50px;
}

.rocket-text>span:nth-child(2) {
    left: 300px;
}

.rocket-text>span:nth-child(3) {
    left: -90px;
}

.rocket-text>span:nth-child(4) {
    right: 40px;
}

.rocket-text>span:nth-child(5) {
    right: 150px;
}

.main-card-row {
    margin-top: -72px
}

@media (min-width: 768px) {
    .doge-geek {
        border-radius: 12px 0 0 12px !important;
    }
}

.doge-geek {
    margin-left: -12px;
    border-radius: 12px;
    width: calc(100% + 24px);
}

.distribution-container-inner>.row {
    padding: 12px
}

.distribution-container-inner span {
    font-family: var(--title-font);
}

.burn-container {
    background-image: url("assets/Doge-Burn-Background-DESKTOP.jpg");
    background-size: cover;
}

.join-row>div {
    border: 2px solid var(--accent-2);
}

.border-accent-2 {
    border: 2px solid var(--accent-2);
}

footer {
    font-size: 12px;
    padding-top: 128px;
    padding-bottom: 256px;
}