html {
    --accent-1: rgb(0, 137, 234);
    --accent-2: rgb(255, 0, 255);
    --title-font: "Comic Sans MS", "Comic Sans", cursive;
    --content-font: Arial, sans-serif;
}

.accent-1 {
    color: var(--accent-1);
}

.accent-2 {
    color: var(--accent-2);
}

.logo-text {
    color: white;
    font-family: var(--title-font);
    font-weight: bold;
    line-height: 1;
}

.navbar-nav,
.navbar-nav button {
    font-size: 14px;
}

.navbar-nav li {
    margin-left: 8px;
}

.title-container {
    background-color: blue;
}

.title-text-container {
    padding: 150px 0 250px;
}

.title-text {
    color: white;
    font-family: var(--title-font);
}

.title-text>h1 {
    font-family: var(--content-font);
}

.main-card-row {
    margin-top: -72px
}